<div class="card">
  <div class="card-header">
  <a class="test" href="{{id}}">{{title}}</a> 
  <p>By {{email}} at {{format_date created_at}}</p>
  
  </div>
  <div class="card-body">
   
    <p class="card-text">{{name}}{{post_body}}</p>
   
  </div>
</div>